*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:20px 44px;
    background-color:#2d6430;
}

.logo{
    color:white;
    font-size:30px;
}

.nav-links{
    display:flex;
    gap:25px;
}

.nav-links a{
    color:white;
    text-decoration:none;
    font-size:18px;
}

.nav-links a:hover{
    color:#FFD54F;
}