*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

.register-container{
    min-height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
    background:#f5f5f5;
}

.register-card{
    width:400px;
    background:white;
    padding:35px;
    border-radius:12px;
    box-shadow:0 0 15px rgba(0,0,0,0.15);
}

.register-card h1{
    color:#2d6a4f;
    text-align:center;
    margin-bottom:10px;
}

.register-card h2{
    text-align:center;
    margin-bottom:25px;
}

.register-card input{
    width:100%;
    padding:12px;
    margin-bottom:12px;
    border:1px solid #ccc;
    border-radius:8px;
    font-size:16px;
}

.role-section{
    margin-bottom:20px 0;
}

.role-section p{
    margin-bottom:15px;
    font-weight: 600;
}

.role-section label{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 12px;
    cursor: pointer;
}
.role-section input[type="radio"]{
    width:auto;
    margin:0;
}
.register-card button{
    width:100%;
    padding:12px;
    background:#2d6a4f;
    color:white;
    border:none;
    border-radius:8px;
    font-size:16px;
    cursor:pointer;
}

.register-card button:hover{
    
    background-color: #1f5a2a;
}
h1{
    font-size:40px;
}
.login-text{
    text-align:center;
    margin-top:20px;
}

.login-link{
    color:#2d6a4f;
    text-decoration:none;
    font-weight:bold;
}

.login-link:hover{
    text-decoration:underline;
}